@import url(typography.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.content-wraper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#menu-mobile-btn {
  position: fixed;
  top: 0.7em;
  right: 1em;
  cursor: pointer;
  z-index: 999;
  display: none;
}

/* //////// FORM SECTION //////// */
.form-container {
  width: 25%;
  background-color: #001E36;
  padding: 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-header {
  margin: 0 0 1em 0;
}

input[type=submit] {
  margin: 2em 0 0 0;
  border: none;
  padding: 0.9em 0.9em;
  cursor: pointer;
  background-color: rgb(16, 120, 255);
  border-radius: 0.4em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

input[type=submit]:hover {
  background-color: rgb(1, 89, 204);
  transition: background-color 500ms;
}

input[type=submit]:active {
  transform: scale(0.97);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

input[type=number] {
  border-radius: 0.4em;
  padding: 0.3em;
  margin: 0 0 1em 0;
  background-color: #153046;
  border: none;
}

textarea {
  resize: none;
  border-radius: 0.4em;
  padding: 0.3em;
  background-color: #153046;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

/* Remove number set in input number Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number set in input number  Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#feelings {
  height: 200px;
}

/* //////// TEMPERATURE INFO SECTION //////// */
.temp-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.temp-info-box {
  text-align: center;
  width: 766px;
  max-width: 766px;
}

.term-icon {
  width: 70px;
  height: 140px;
  margin: 0 1em 0 0;
}

.temp-number-wraper {
  align-items: center;
  justify-content: center;
  display: none;
}

.content-info {
  margin: 1.7em 0 0 0;
  padding: 0 1em;
}

/* #### MEDIA QUERIES #### */
@media (max-width: 1050px) {
  .content-wraper {
    flex-direction: column;
  }

  .form-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    display: none;
  }

  #menu-mobile-btn {
    display: block;
  }

  #feelings {
    height: 120px;
  }

  .temp-info-container {
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 580px) {
  .term-icon {
    width: 60px;
    height: 110px;
  }
}

@media (max-width: 360px) {
  .term-icon {
    width: 35px;
    height: 80px;
  }
}

@media (max-height: 460px) and (orientation: landscape) {
  .term-icon {
    width: 35px;
    height: 80px;
  }

  #feelings {
    height: 90px;
  }

  .form-header {
    display: none;
  }
}